include CHANGES.txt
include INSTALL.txt
include MANIFEST.in
include README.txt
global-include *.js
global-include *.css
global-include *.woff *.eot *.ttf
global-include *.jpg *.png *.ico *.gif
global-include *.po *.mo
global-include *.html
